<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from eduzone.dexignzone.com/xhtml/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Apr 2021 22:26:39 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="description" content="EduZone - Education Collage & School HTML5 Template" />
    <meta property="og:title" content="EduZone - Education Collage & School HTML5 Template" />
    <meta property="og:description" content="EduZone - Education Collage & School HTML5 Template" />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no">


    <!-- FAVICONS ICON -->
    <link rel="icon" href="~/Content/images/favicon.ico" type="C" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/images/favicon.png" />

    <!-- PAGE TITLE HERE -->
    <title>KinderGarten KIDSPRO</title>

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @Styles.Render("~/template/css")




</head>
<body id="bg">
    <div class="page-wraper">

        @RenderSection("header", false)

        @RenderBody()


        <footer class="site-footer footer-full">
            <div class="p-tb60 bg-black">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text-md-left text-center footer-logo">
                            <img src="~/Content/images/logo.png" alt="" width="100" style="height: 50px;width: 200px;">
                            <p class="m-b0 m-t10">Copyright © 2021 </p>
                        </div>
                        <div class="col-md-6 text-md-right text-center">
                            <div class="widget-link ">
                                <ul>
                                    <li><a href="javascript:void(0);">Home</a></li>
                                    <li><a href="javascript:void(0);">About us</a></li>
                                    <li><a href="javascript:void(0);">Help Desk</a></li>
                                    <li><a href="javascript:void(0);">Privacy Policy</a></li>
                                    <li><a href="javascript:void(0);">Contact Us</a></li>
                                </ul>
                            </div>
                            <ul class="list-inline m-b0 m-t10">
                                <li><a href="javascript:void(0);" class="site-button-link facebook hover"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="javascript:void(0);" class="site-button-link google-plus hover"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="javascript:void(0);" class="site-button-link linkedin hover"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="javascript:void(0);" class="site-button-link instagram hover"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="javascript:void(0);" class="site-button-link twitter hover"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer END -->
        <button class="scroltop style1 radius" type="button" style="display: inline-block;"><i class="fa fa-arrow-up"></i></button>
    </div>
    <!-- JAVASCRIPT FILES ========================================= -->
    @Scripts.Render("~/template/js")
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://kit.fontawesome.com/7e8994375a.js" crossorigin="anonymous"></script>
    <script>
        jQuery(document).ready(function () {
            'use strict';
            dz_rev_slider_2();
            $('.lazy').Lazy();
        });	/*ready*/</script>
</body>

<!-- Mirrored from eduzone.dexignzone.com/xhtml/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Apr 2021 22:27:58 GMT -->
</html>